.AppSidebar{
    height: 100vh;
  
  background-color: rgb(238, 234, 230);
  top: 0;
  left: 0;
  padding: 20px 0;
  transition: all 0.5s ease;
  width: 330px;
}

.AppSidebar .item{
    text-decoration: none;
    list-style: none;
  }

  .AppSidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: rgb(42, 38, 38);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.AppSidebar ul li a .icon{
    color: #205eaf;
    width: 30px;
    display: inline-block;
}

.AppSidebar ul li a:hover{
    background:rgb(176, 176, 171);
    transition: all 0.5s ease;
}

.AppSidebar ul li a .item{
    font-size: medium;
    font-weight: 700;

}

/* .modal{
    border: 1px solid black;
} */

.size{
    position :fixed;
    margin-top: 0;
    margin-left: 400px;
    border: 3px solid rgb(198, 150, 150);
    background-color: rgb(189, 229, 237);
    border-radius: 13px;
    transition: opacity .15s linear; 
    
}
.size::after{
    box-sizing: border-box;
}

/* 
textarea {
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    border: 10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    width: 60%;
    resize: both;
    background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
  } */