.AppSidebar{
    height: 100vh;
  
  background-color: rgb(255, 253, 248);
  top: 0;
  left: 0;
  padding: 20px 0;
  transition: all 0.5s ease;
  width: 330px;
}

.AppSidebar .item{
    text-decoration: none;
    list-style: none;
  }

  .AppSidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: rgb(42, 38, 38);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.AppSidebar ul li a .icon{
    color: #205eaf;
    width: 30px;
    display: inline-block;
}

.AppSidebar ul li a:hover{
    background:rgb(176, 176, 171);
    transition: all 0.5s ease;
}

.AppSidebar ul li a .item{
    font-size: medium;
    font-weight: 700;

}


.size{
    position :fixed;
    margin-top: 0;
    margin-left: 400px;
    border: 3px solid rgb(198, 150, 150);
    background-color: rgb(236, 230, 220);
    border-radius: 13px;
    transition: opacity .15s linear; 
    
}
.size::after{
    box-sizing: border-box;
}

.fa-brands{
    padding: 7px;
}

.sub-title{
    margin-left: 33px;
    margin-top: 15px;
}
.require::after{
    content: " *";
    color: red
}

#inpbox1{
    max-width: 20px;
    max-height: 30px;
    padding: auto;
}